<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bert.ui" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".roomList.RoomListActivity"
            android:label="@string/title_RoomListActivity" >
        </activity>
        <activity
            android:name=".projectList.ProjectListActivity"
            android:label="@string/title_ProjectListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".roomList.deviceList.auditWizard.AddCategoryFrameActivity"
            android:label="@string/title_activity_add_category" >
        </activity>
        <activity
            android:name=".categoryList.CategoryDetailFragment"
            android:label="@string/title_activity_category_editor" >
        </activity>
        <activity
            android:name=".categoryList.CategoryListActivity"
            android:label="@string/title_activity_category_list" >
        </activity>
        <activity
            android:name=".launchScreen.LaunchActivity"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".projectList.activity.AuditProjectListActivity"
            android:label="@string/title_activity_audit_project_list" >
        </activity>
        <activity
            android:name=".projectList.activity.InstallProjectListActivity"
            android:label="@string/title_activity_install_project_list" >
        </activity>
        <activity
            android:name=".buildingList.activity.AuditBuildingListActivty"
            android:label="Auditing Building List" >
        </activity>
        <activity
            android:name=".buildingList.activity.InstallBuildingListActivity"
            android:label="Install Building List" >
        </activity>
        <activity
            android:name=".buildingList.activity.GeneralBuildingListActivity"
            android:label="Error: abstract class" >
        </activity>
    </application>

</manifest>
